# Make a secrets folder and include examples of what should be in there
/secrets/flood-alert-app/*

# Wildcard ignore any '.terraform' directory
/**/*.terraform/*
terraform/projects/*

terraform/plans

thank_you_steven.md

