

# app-flood-app
app-flood-app/app-flood-app


# app-flood-build
src/build/terraform/*
#src/build/terraform/projects/flood-alert/flood-alert.tfvars
#src/build/terraform/projects/flood-alert/terraform.tfstate
#src/build/terraform/projects/flood-alert/terraform.tfstate.backup
#src/build/terraform/plans/flood-alert.tfplan
#src/build/terraform/state/terraform.tfstate

