[submodule "src/app-flood-api"]
	path = src/app-flood-api
	url = https://github.com/stolarskis/flood-alert-app/tree/master/src/app-flood-api

[submodule "src/app-flood-app"]
	path = src/app-flood-app
	url = https://github.com/stolarskis/flood-alert-app/tree/master/src/app-flood-app

[submodule "src/app-flood-ctl"]
	path = src/app-flood-ctl
	url = https://github.com/stolarskis/flood-alert-app/tree/master/src/app-flood-ctl

[submodule "src/app-flood-build"]
	path = src/app-flood-build
	url = https://github.com/stolarskis/flood-alert-app/tree/master/src/app-flood-build







